.mform .form-inline .form-control, .mform .form-inline .custom-select {
    width: 100% !important;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-check-label {
    font-weight: normal;
}
