<div class="card" style="width: 100%;">
    <div class="card-header">
        
        <div class="float-left">
            <a href="{{wwwroot}}/local/inventory/area.php" class="btn btn-default">{{#str}}create, local_inventory{{/str}}</a>
        </div>
        <div class="float-right">
            <a href="{{wwwroot}}/local/inventory/" class="btn btn-default">{{#str}}home, local_inventory{{/str}}</a>
            <a href="" class="btn btn-default">Aisles</a>
            <a href="" class="btn btn-default">Items</a>
        </div>
    </div>
    <div class="card-body">
        <table id="areasTable" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        {{#str}}area,local_inventory{{/str}}
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#areas}}
                <tr>
                    <td>
                        <a href="{{wwwroot}}/local/inventory/area.php?id={{id}}">{{name}}</a>
                    </td>
                    <td>
                        <a href="{{wwwroot}}/local/inventory/area.php?id={{id}}" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                        <button class="deleteArea btn btn-danger" data-id="{{id}}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/areas}}
            </tbody>
        </table>
    </div>
</div>
{{#js}}
require(['local_inventory/areas'], function(mod) {
mod.init();
});
{{/js}}
