<div class="card" style="width: 100%;">
    <div class="card-header">
        <div class="float-left">
            <form class="form">
                <div class="form-group">
                    <select id="sku-search" name="sku-search" class="form-control" ></select>
                </div>
            </form>
        </div>
        <div class="float-right">
            <a href="{{wwwroot}}/local/inventory/areas.php" class="btn btn-default">{{#str}}areas, local_inventory{{/str}}</a>
            <a href="{{wwwroot}}/local/inventory/areas.php" class="btn btn-default">{{#str}}aisles, local_inventory{{/str}}<</a>
            <a href="" class="btn btn-default">{{#str}}shelves, local_inventory{{/str}}<</a>
            <a href="" class="btn btn-default">{{#str}}items, local_inventory{{/str}}<</a>
        </div>
    </div>
    <div class="card-body">
        <div id="results-container"></div>
    </div>
</div>
{{#js}}
require(['local_inventory/menu'], function(mod) {
mod.init();
});
{{/js}}
